
.welcomepagebody {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9c8e3;
  font-family: sans-serif;
}

.container {
  height: auto;
  width: 90vw;
  max-width: 500px;
  min-height: 80vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* background: white; */
  border-radius: 10px;
}

.handlogo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 7px;
}

.appname {
  font-size: 2.2rem;
  flex-shrink: 1;
  text-align: center;
}

.GOM {
  font-size: 1.1rem;
  color: purple;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 35px;
}

@media (max-width:450px){
  .GOM{
    margin-left: 50px;
    font-size: 0.8rem;
  }
}

.welcomeimg {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
  margin: 15px 0;
}

.powered {
  position: absolute;
  bottom: 10px;
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .appname {
    font-size: 1.8rem;
  }

  .GOM {
    font-size: 1rem;
  }

  .container {
    padding: 15px;
  }
}
